name: "Terraform-Plan"

on:
  push:
    branches:
      - FeatureBranch

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ID }}
      AWS_REGION: 'us-east-1'


      steps:
       - name: Checkout
         uses: actions/checkout@v6

       - name: Setup terraform
         uses: hashicorp/setup-terraform@v3

       - name: Terraform Init
         id: init
         run: terraform init

       - name: Terraform Plan
         id: plan
         if: github.event_name == 'push'
         run: terraform plan -no-color